DEBUG=True
DJANGO_SECRET_KEY="django-insecure-5be6d30a0e5197762ad0afc243fc5bd64085d0163b244c63fb663acd6da1ba615554888fe9ce9864a242bb0b0ed111cfcfb6"

#sendinblue credentials
DEFAULT_FROM_EMAIL="monde.lacanlalay@gmail.com"
ANYMAIL_SENDINBLUE_API_KEY=""

# email credentials
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=465
EMAIL_HOST_USER="{{ cookiecutter.author_email }}"
EMAIL_HOST_PASSWORD="{{ cookiecutter.email_password }}"
EMAIL_USE_SSL=True

#Database env
DATABASE_NAME="{{ cookiecutter.database_name }}"
DATABASE_USER="{{ cookiecutter.database_username }}"
DATABASE_PASSWORD="{{ cookiecutter.database_password }}"
DATABASE_HOST="127.0.0.1"
DATABASE_PORT="5432"

PLATFORM="local"